<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}MyBlog{% endblock %}</title>
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/basic.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Bootstrap grid examples</h1>
        <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
    </div>
</div>

<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#contact">Guestbook</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
            {% block body %}{% endblock %}
            </div>
            <div class="col-md-4">
            {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>
