{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    {{ parent() }}
    <div class="container">
        <header>
            <h1>About Me</h1>
        </header>
        <article>
            <p>Duis eu imperdiet purus. Mauris turpis sem, viverra ac vulputate ac, pharetra ut sem. Suspendisse potenti. Donec id nisi lacinia nulla viverra mollis. Morbi laoreet mi augue, in fringilla massa laoreet at. Pellentesque non diam augue. Nulla dictum porta diam sit amet pulvinar. Phasellus dictum vitae turpis nec aliquam. Phasellus ullamcorper, purus a varius mattis, dolor leo convallis neque, id fringilla lorem diam nec libero. Mauris congue urna nisl, euismod consectetur purus fringilla in. Praesent eget laoreet sem.

               Sed iaculis lectus et aliquam mollis. Donec vel posuere erat, ut lobortis nulla. Vivamus vitae purus eget urna laoreet accumsan eget vitae urna. Mauris laoreet eleifend nisi, a lacinia dolor vulputate vel. Cras cursus ultricies massa, eu convallis mi dignissim eget. Proin porttitor nunc mauris, at condimentum urna molestie non. Duis neque tellus, congue nec dictum quis, feugiat vestibulum turpis. Vivamus euismod ligula nec porttitor tristique. Duis feugiat mi ut interdum rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dignissim erat eu odio scelerisque, vitae laoreet dui cursus. Aliquam eleifend nulla nunc, vel convallis odio laoreet et.</p>
        </article>
    </div>
{% endblock %}