{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block postsidebar %}<h1>qwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuio</h1>{% endblock %}
            </div>
            <div class="col-md-4">
                {% block sidebar %}<h1>qwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuioqwertyuiop qwertyyuio</h1>{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}